{% extends '_layout.html' %}

{% block content %}
  <div class="col-md-6">
    {% if error %}
      <div class="alert alert-danger">
        {{ error }}
      </div>
    {% endif %}
    <h2>Delete player</h2>
    <p>Are you sure wish to delete this player?</p>
    <p>{{ player.firstName }} {{ player.lastName }}</p>
    <form method="POST" action="/league/player/delete">
      <input type="hidden" name="crumb" value="{{crumb}}"/>
      <input type="hidden" id="playerId" name="playerId" value="{{ player.playerId }}"> 
      <button type="submit" class="btn btn-primary">Confirm</button>
      <a href="/league/players">Cancel</a>
    </form>
  </div>
{% endblock %}
