{% extends '_layout.html' %}

{% block content %}
  {%if players.length %}
    <table class="table table-hover">
      <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Team</th>
      </tr>
      {% for player in players %}
        <tr>
          <td>{{ player.lastNameFirstName }}</td>
          <td>{{ player.position }}</td>
          <td>{{ player.team.name }}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <div class="alert alert-info">
      No players available.
    </div>
  {% endif %}
{% endblock %}
