{% extends '_layout.njk' %}

{% block content %}
  <h2>Players</h2>

  <div class="row">
    <div class="col-md-6">
      <form method="GET" action="/league/players">
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="search" id="search">
          <input type="hidden" name="crumb" value="{{ crumb }}">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  {% if auth.isAdmin %}
  <a href="/league/player/create">Create player</a>
  {% endif %}

  {%if players.length %}
    <table class="table table-hover table-sm small">
      <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Team</th>
        <th>Manager</th>
        <th></th>
      </tr>
      {% for player in players %}
        <tr>
          <td>{{ player.lastNameFirstName }}</td>
          <td>{{ player.position }}</td>
          <td>{{ player.team.name }}</td>
          <td>
            {% if player.managers.length %}
              <a href="/manager?managerId={{ player.managers[0].managerId }}">{{ player.managers[0].name }}</a>
            {% endif %}
          </td>
          <td>
            {% if auth.isAdmin %}
            <a href="/league/player/edit?playerId={{ player.playerId }}">Edit</a> | <a href="/league/player/delete?playerId={{ player.playerId }}">Delete</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <div class="alert alert-info">
      No players available.
    </div>
  {% endif %}
{% endblock %}
