{% extends '_layout.html' %}

{% block content %}
  <h2>Refresh League data</h2>

  <p>Upload new season players list to replace current player's list</p>

  <form method="POST" action="/league/refresh/players" enctype="multipart/form-data">
    <input type="hidden" name="crumb" value="{{crumb}}"/>
    <div class="form-group">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="playerFile" name="playerFile">
        <label class="custom-file-label" for="playerFile">Choose file</label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <p>{{ message }}</p>
{% endblock %}

{% block bodyEnd %}
  <script src="{{ assetPath }}/file-input.js"></script>
{% endblock %}

