{% extends '_layout.html' %}

{% block content %}
  <a href="/league/team/create">Create team</a>

  {%if teams.length %}
    <table class="table table-hover table-sm small">
      <tr>
        <th>Team</th>
        <th>Division</th>
        <th></th>
      </tr>
      {% for team in teams %}
        <tr>
          <td>{{ team.name }}</td>
          <td>{{ team.division.name }}</td>
          <td><a href="/league/team/edit?teamId={{ team.teamId }}">Edit</a> | <a href="/league/team/delete?teamId={{ team.teamId }}">Delete</a></td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <div class="alert alert-info">
      No teams available.
    </div>
  {% endif %}
{% endblock %}
