{% extends '_layout.njk' %}

{% block content %}
  <div class="col-md-6">
    {% if error %}
      <div class="alert alert-danger">
        {{ error }}
      </div>
    {% endif %}
    <h2>Delete concede</h2>
    <p>Are you sure wish to delete conceded goal for {{ concede.team.name }}?</p>
    <form method="POST" action="/concede/delete">
      <input type="hidden" name="crumb" value="{{crumb}}"/>
      <input type="hidden" id="concedeId" name="concedeId" value="{{ concede.concedeId }}"> 
      <button type="submit" class="btn btn-primary">Confirm</button>
      <a href="/conceded">Cancel</a>
    </form>
  </div>
{% endblock %}
