{% extends '_layout.njk' %}

{% block content %}
  <div class="col-md-6">
    {% if error %}
      <div class="alert alert-danger">
        {{ error }}
      </div>
    {% endif %}
    <form method="POST" action="/meeting/edit">
      <input type="hidden" name="crumb" value="{{crumb}}"/>
      <input type="hidden" id="meetingId" name="meetingId" value="{{ meeting.meetingId }}"> 
      <div class="form-group">
        <label for="date">Date</label>
        <input type="text" class="form-control" id="date" name="date" value="{{ meeting.date }}">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
{% endblock %}
