{% extends '_layout.njk' %}

{% block content %}
<h2>Meetings</h2>

{% if auth.isAdmin %}
<a href="/meeting/create">Create meeting</a>
{% endif %}

{% if meetings.length %}
<table class="table table-hover table-sm small">
  <tr>
    <th>Number</th>
    <th>Date</th>
    <th></th>
  </tr>
  {% for meeting in meetings %}
  <tr>
    <td>{{ meeting.meetingId }}</td>
    <td>{{ meeting.shortDate }}</td>
    <td>
      {% if auth.isAdmin %}
      <a href="/meeting/edit?meetingId={{ meeting.meetingId }}">Edit</a> | <a href="/meeting/delete?meetingId={{ meeting.meetingId }}">Delete</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<div class="alert alert-info">
  No meetings scheduled.
</div>
{% endif %}
{% endblock %}
