{% extends '_layout.njk' %}

{% block content %}
  <h2>Password reset</h2>
  <p>Enter your email address to reset your password.  If your email address is registered you will receive an email with reset instructions.</p>
  <form method="POST" action="/forgot-password">
    <input type="hidden" name="crumb" value="{{crumb}}"/>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" name="email" autocomplete="username">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <p>{{ message }}</p>
{% endblock %}
