{% extends '_layout.html' %}

{% block content %}
  <form method="POST" action="/register">
    <input type="hidden" name="crumb" value="{{crumb}}"/>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" name="email" autocomplete="username">    
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" autocomplete="current-password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <p>{{ message }}</p>
{% endblock %}
