{% extends '_layout.njk' %}

{% block content %}
  <h2>Password reset</h2>
  <form method="POST" action="/reset-password">
    <input type="hidden" name="crumb" value="{{crumb}}"/>
    <input type="hidden" name="userId" value="{{userId}}"/>
    <input type="hidden" name="token" value="{{token}}"/>
    <div class="form-group">
      <label for="password">New password</label>
      <input type="password" class="form-control" id="password" name="password" autocomplete="new-password">
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm new password</label>
      <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" autocomplete="new-password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <p>{{ message }}</p>
{% endblock %}
