<table class="table table-hover table-sm small">
  {% for score in results.cupScores %}
    <tr>
      <td>R{{ score.round }}</td>
      <td><a href="/manager?managerId={{ score.homeScore.managerId }}">{{ score.homeScore.manager }}</a></td>
      <td>{{ score.homeMargin }}</td>
      <td> v </td>
      <td>{{ score.awayMargin }}</td>
      <td><a href="/manager?managerId={{ score.awayScore.managerId }}">{{ score.awayScore.manager }}</a></td>
    </tr>
  {% endfor %}
</table>
