{% for winner in results.winners %}
<div class="row">
  <div class="col-md-12">
    <a href="/manager?managerId={{ winner.managerId }}">{{ winner.manager }}</a>
    {% if winner.goals >= 10 %}
     - JACKPOT!
    {% endif %}
  </div>
</div>
{% endfor %}
