{% extends '_layout.njk' %}

{% block content %}
  <h2>Conceded</h2>

  {%if conceded.length %}
    <table class="table table-hover table-sm small">
      <tr>
        <th>Gameweek</th>
        <th>Team</th>
        <th></th>
      </tr>
      {% for concede in conceded %}
        <tr>
          <td>{{ concede.gameweekId }}</td>
          <td>{{ concede.team.name }}</td>
          <td>
            {% if auth.isAdmin %}
            <a href="/concede/delete?concedeId={{ concede.concedeId }}">Delete</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <div class="alert alert-info">
      No goals conceded.
    </div>
  {% endif %}
{% endblock %}
