{% extends '_layout.html' %}

{% block content %}
  <div class="jumbotron">
    <h1>Dream League</h1>
    <p>Private fantasy football league</p>
  </div>

  {% if results.gameweekId %}
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            Latest scores - Week {{ results.gameweekId }}
          </div>
          <div class="card-body">
            {% include "./dream-league/_scores.html" %}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            Table
          </div>
          <div class="card-body">
            {% include "./dream-league/_table.html" %}
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div class="alert alert-info">
      New season coming soon.
    </div>
  {% endif %}

  {% if auth.isAuthenticated %}
    <p>Authenticated</p>
  {% endif %}

  {% if auth.isAdmin %}
    <p>Admin role</p>
  {% endif %}

  {% if auth.isUser %}
    <p>User role</p>
  {% endif %}
{% endblock %}
