{% extends '_layout.html' %}

{% block content %}
<div class="jumbotron">
  <h1>Dream League</h1>
  <p>Private fantasy football league</p>
</div>

{% if results.gameweekId %}
<div class="row" style="padding-bottom: 20px;">
  <div class="col-md-6">
    <div class="card border-dark">
      <div class="card-header bg-dark text-light">
        Latest scores - Week {{ results.gameweekId }}
      </div>
      <div class="card-body">
        {% include "./dream-league/_scores.html" %}
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card border-dark">
      <div class="card-header bg-dark text-light">
        Table
      </div>
      <div class="card-body">
        {% include "./dream-league/_table.html" %}
      </div>
    </div>
  </div>
</div>

{% if results.cupScores.length %}
<div class="row" style="padding-bottom: 20px;">
  <div class="col-md-6">
    <div class="card border-dark">
      <div class="card-header bg-dark text-light">
        Cup results
      </div>
      <div class="card-body">
        {% include "./dream-league/_cup-scores.html" %}
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if results.groups %}
<div class="row" style="padding-bottom: 20px;">
  {% for group in results.group %}
  <div class="col-md-6">
    <div class="card border-dark">
      <div class="card-header bg-dark text-light">
        Group {{ loop.index }}
      </div>
      <div class="card-body">
        {% include "./dream-league/_table.html" %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}

<div class="row" style="padding-bottom: 20px;">
  <div class="col-md-6">
    <div class="card border-dark">
      <div class="card-header bg-dark text-light">
        Form
      </div>
      <div class="card-body">
        {% include "./dream-league/_form.html" %}
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card border-dark">
      <div class="card-header bg-dark text-light">
        Top Scorers
      </div>
      <div class="card-body">
        {% include "./dream-league/_top-scorers.html" %}
      </div>
    </div>
  </div>
</div>

<div class="row" style="padding-bottom: 20px;">
  <div class="col-md-6">
    <h3>Finances</h3>
    <p>Visit <a href="https://www.dreamleaguefinance.co.uk" target="_blank">www.dreamleaguefinance.co.uk<i
          class="fa fa-external-link" aria-hidden="true"></i></a> to manage your Dream League finances.</p>
  </div>
  <div class="col-md-6">
    <h3>Next meeting</h3>
    {% if nextMeeting %}
    <p>The next transfer meeting is {{ nextMeeting.date }}.</p>
    {% else %}
    <p>No meetings scheduled</p>
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <img class="img-fluid rounded" src="../assets/money.jpeg" />
  </div>
  <div class="col-md-6">
    <img class="img-fluid rounded" src="../assets/beer.jpeg" />
  </div>
</div>
{% else %}
<div class="alert alert-info">
  New season coming soon.
</div>
{% endif %}
{% endblock %}
