{% extends '_layout.njk' %}

{% block content %}
  <h2>{{ manager.name }}</h2>

  <div class="col-md-6">
    <div class="card border-dark">
      <div class="card-body small">
        {% for keeper in manager.keepers %}
        <div class="row">
          <div class="col-md-2">GK</div>
          <div class="col-md-9">{{ keeper.name}}{% if keeper.substitute %} (sub){% endif %}</div>
        </div>
        {% endfor %}
        {% for player in manager.players %}
        <div class="row">
          <div class="col-md-2">{{ player.position[0] }}</div>
          <div class="col-md-9">{{ player.fullName}}{% if player.substitute %} (sub){% endif %}</div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
