{% extends '_layout.html' %}

{% block content %}
<h2>Overview</h2>

<p>The Dream League is a private fantasy football competition.</p>

<h3>League Format</h3>

<p>
  <span class="badge badge-success">1</span> The league lasts from the first week of full set of Championship, League 1
  and League 2 fixtures to the week of the final full set of fixtures inclusive.
</p>
<p>
  <span class="badge badge-success">2</span> Each week’s results are based on goals scored from Friday to Thursday
  inclusive.
</p>
<p>
  <span class="badge badge-success">3</span> Goals scored in the Championship, League 1, League 2, FA Cup and League Cup
  only count towards a result. Abandoned games do not count. Goals scored in extra time count but goals scored in
  penalty shootouts do not count. Goals Scored in play offs do not count.
</p>
<p>
  <span class="badge badge-success">4</span> A team’s result is calculated as follows. Goals for are calculated by
  adding all goals scored by all players in the team (excluding the nominated substitutes (see below)) in all qualifying
  games for any given week. Goals against are simply the number of goals your goalkeeper concedes (excluding the
  nominated substitutes (see below)) in all qualifying games for any given week. Any own goals scored by your player
  will also count as a goal conceded. If you’re goalkeeper scores an own goal this will count as two conceded. The BBC
  is the definitive source of goal scoring information. If a player moves to a Premier League club, goals scored by that
  player only count for the remainder of that month.
</p>
<p>
  <span class="badge badge-success">5</span> Three points are awarded for a win and one point for a draw.
</p>
<p>
  <span class="badge badge-success">6</span> Position in the league is first determined by total points, then by goal
  difference, then by goals scored.
</p>
<p>
  <span class="badge badge-success">7</span> Each team comprises two goalkeepers (the actual team regardless of who
  fills the position), three defenders, four midfielders and six forwards. Each team can contain only one Championship
  goalkeeper. For each game there is a nominated substitute goalkeeper, defender, midfielder and forward. Substitutes
  are valid for one month (see below). Each month ends on the first Thursday of the following calendar month.
</p>

<h3>Initial Auction Meeting</h3>

<p>
  <span class="badge badge-success">1</span> Prior to the start of the season squads of 15 players (see 7 in League
  Format) are bought. Any Championship, League 1 or League 2 goalkeeper can be bought. For outfield players there is an
  Official List. The Official List of players determines the position of all players other than goalkeepers. Players not
  on the list can be bought but are all classed as forwards.
</p>
<p>
  <span class="badge badge-success">2</span> Each team manager is allocated £200 to purchase the 15-man squad.
</p>
<p>
  <span class="badge badge-success">3</span> Prior to the meeting each manager submits a sealed bid for 1 goalkeeper, 1
  defender, 1 midfielder and 1 forward. The highest bidder gets that player. In the event of a tie the player goes back
  into the pool.
</p>
<p>
  <span class="badge badge-success">4</span> Following the sealed bids, open bidding takes place for the rest of the
  squad. Goalkeeping positions are filled first, followed by defenders, then midfielders and finally forwards. All
  managers must fill their positions for each category before bidding moves on to the next category (unless they run out
  of funds).
</p>
<p>
  <span class="badge badge-success">5</span> The Chairman will decide who starts the bidding and the direction it takes.
  Each player goes to the highest bidder.
</p>
<p>
  <span class="badge badge-success">6</span> Each manager must nominate his 4 substitutes to the Chairman by the time
  stipulated. In the event of substitutes not being nominated the substitutes will remain the same as the previous month
  except when new players have been bought in a particular category (goalkeeper, defender, midfielder, forward). In this
  situation, the Chairman will assign the last player bought for each affected category as substitute.
</p>

<h3>Monthly Transfer Meetings</h3>

<p>
  <span class="badge badge-success">1</span> Monthly transfer meetings take place on the first Wednesday of each
  calendar month September to April inclusive.
</p>
<p>
  <span class="badge badge-success">2</span> Each manager present or represented at the meeting gets £20 added to their
  team’s funds.
</p>
<p>
  <span class="badge badge-success">3</span> Prior to the start each team manager can submit a sealed bid for up two
  players in any position. Unlike the initial auction meeting no actual price is bid. There must be no other bids for
  the same player for a bid to be successful. Successful bids cost £1. If there is more than one bid for a player then
  the player goes back in the pool.
</p>
<p>
  <span class="badge badge-success">4</span> No more than five changes per team can be made at a single meeting. A
  player bought at the meeting can be resold at the same meeting subject to the five changes maximum.
</p>
<p>
  <span class="badge badge-success">5</span> Following the sealed bids, open bidding takes place. Goalkeeping positions
  are filled first followed by defenders, then midfielders and finally forwards. All managers must pass their
  opportunity to bid in each category before bidding moves on to the next category. In the open bidding a player goes to
  the highest bidder. The successful bidder must replace an existing player of the same position who goes back into the
  pool. If that player is subsequently bid for the original team manager has their funds increased by the successful bid
  price. The Chairman will decide who starts the bidding and the direction it takes. Once a manager has passed the
  opportunity to bid they can no longer bid for a player in the same category unless it is one put back into the pot
  since their last pass.
</p>
<p>
  <span class="badge badge-success">6</span> Each manager must nominate his four substitutes to the Chairman by the time
  stipulated. In the event of substitutes not being nominated, the Chairman will assign the last player bought for each
  category as substitute.
</p>
<p>
  <span class="badge badge-success">7</span> A manager can only represent one absent manager.
</p>

<h3>Cup Format</h3>

<p>
  <span class="badge badge-success">1</span> The cup format will depend on the number of teams entering. It will take
  the form of mini leagues followed by a knockout stage. In the league stage teams may play each other once or twice
  depending on numbers of entries. The knockout stages will be two legged games. All leagues will be randomly drawn.
  Knockout games will be based on mini league position i.e. top of one league plays second of another. In the event of a
  draw a single game replay will be scheduled. The Chairman will decide when games take place.
</p>
<p>
  <span class="badge badge-success">2</span> Unlike the league, a cup game is against another manager. An individual
  team score in a cup game is the plus or minus goal difference for the appropriate week’s Championship, League 1 and
  League 2 matches. Unlike the league score only the first game played by that team counts.
</p>
<p>
  <span class="badge badge-success">3</span> Should the two teams remain tied at the conclusion of the two legs a single
  legged replay will be scheduled in the next nearest full week of fixtures (this is decided at Chairman’s discretion).
</p>
<p>
  <span class="badge badge-success">4</span> Should the tie still remain a draw at the conclusion of this extra tie then
  the team that has scored the most goals in the third round single legged playoff only will progress. If both teams
  have scored the same number of goals then the team who has the player who scored the first goal scored in this 3rd
  game playoff will go through.
</p>

<h3>League Cup Format</h3>

<p>
  <span class="badge badge-success">1</span> The league cup is a single leg knockout competition. In the event of a draw
  the team scoring the most goals wins. If both teams score the same number of goals then the first team to score
  (earliest recorded time of goal for any player) wins (BBC is again the decider). Subsequent goal times are used if
  necessary. Ultimately lots will be drawn. Again the Chairman will decide when games take place.
</p>
<p>
  <span class="badge badge-success">2</span> Match scores are determined in the same way as Cup Format above.
</p>

<h3>Finances</h3>

<p>
  <span class="badge badge-success">1</span> League entrance fee is £5. Entrance fee for each cup is £2. Weekly
  subscriptions are £2.
</p>
<p>
  <span class="badge badge-success">2</span> All monies paid in are paid out in prize money.
</p>
<p>
  <span class="badge badge-success">3</span> At each meeting 5 x £5 prizes are drawn at random. A manager must be in
  attendance to claim the prize (unless specifically agreed by all present parties otherwise)
</p>
<p>
  <span class="badge badge-success">4</span> There is a weekly prize of £6 for the manager with the biggest goal
  difference. In the event of a tie the prize is shared.
</p>
<p>
  <span class="badge badge-success">5</span> Each week £2 is added to a jackpot fund. Once a £50 maximum is reached a
  new jackpot fund is started. The jackpot goes to the manager scoring 10 goals or more in one week. In the event of
  more than one manager scoring 10 goals or more the prize goes to the manager scoring most goals. If it remains a tie
  the prize goes to the manager with the biggest goal difference for that particular week. If it remains a tie the prize
  is shared. Once the jackpot reaches £50 and it is not won in the same week, the following week the jackpot can be won
  with nine goals. The target remains at nine goals for the remainder of that month and the following month until it is
  won. If it is still not won the target reduces to eight goals for the next month and so on. Once the jackpot is won
  the target immediately goes back up to 10 goals.
</p>
<p>
  <span class="badge badge-success">6</span> Any jackpot funds remaining at the end of the season will be equally shared
  amongst the league positions to slightly increase the amount won by each manager equally.
</p>
<p>
  <span class="badge badge-success">7</span> Cup entrance money is paid back to the cup winner and runner up in a ratio
  of 2:1 or thereabouts.
</p>
<p>
  <span class="badge badge-success">8</span> All other monies are awarded on a sliding scale based on league position,
  first winning the most and last winning the least. This scale will be decided by the dream league finance manager and
  agreed by all.
</p>


<h2>Contact Details</h2>

<address>
  <strong>Email:</strong> <a href="mailto:admin@dreamleaguefantasyfootball.co.uk?Subject=Dream League Enquiry"
    target="_top">admin@dreamleaguefantasyfootball.co.uk</a><br />
</address>
{% endblock %}
