{% extends '_layout.njk' %}

{% block content %}
<h2>Teamsheet</h2>

{%if teamsheet.length %}
<div class="row">
  {% for team in teamsheet %}
  <div class="col-lg-6" style="padding-bottom: 20px;">
    <div class="card border-dark">
      <div class="card-header bg-dark text-light">
        {{team.name}}
      </div>
      <div class="card-body small">
        {% for player in team.keepers %}
        <div class="row">
          <div class="col-md-2">GK</div>
          <div class="col-md-9">{{ player.name}}{% if player.substitute %} (sub){% endif %}</div>
        </div>
        {% endfor %}
        {% for player in team.players %}
        <div class="row">
          <div class="col-md-2">{{ player.position[0] }}</div>
          <div class="col-md-6">{{ player.fullName}}{% if player.substitute %} (sub){% endif %}</div>
          <div class="col-md-4">{{ player.team}}</div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<div class="alert alert-info">
  No teams available.
</div>
{% endif %}

{% endblock %}
