<table class="table table-hover table-sm small">
  <tr>
    <th class="no-mobile">Pos</th>
    <th>Manager</th>
    <th>Form</th>
  </tr>
  {% for row in form %}
    <tr>
      <td class="no-mobile">{{ row.position }}</td>
      <td><a href="/dream-league/manager?managerId={{ row.managerId }}">{{ row.manager }}</a></td>
      <td>
        {% for result in row.results %}
          <span class="badge {% if result == 'W' %}badge-success{% elseif result == 'L' %}badge-danger{% else %}badge-primary{% endif %}"><strong>{{ result }}</strong></span>
        {% endfor %}
      </td>
    </tr>
  {% endfor %}
</table>
