{% extends '_layout.njk' %}

{% block content %}
  <div class="col-md-6">
    {% if error %}
      <div class="alert alert-danger">
        {{ error }}
      </div>
    {% endif %}
    <h2>Delete meeting</h2>
    <p>Are you sure wish to delete the meeting on {{ meeting.date }}?</p>
    <form method="POST" action="/dream-league/meeting/delete">
      <input type="hidden" name="crumb" value="{{crumb}}"/>
      <input type="hidden" id="meetingId" name="meetingId" value="{{ meeting.meetingId }}"> 
      <button type="submit" class="btn btn-primary">Confirm</button>
      <a href="/dream-league/meetings">Cancel</a>
    </form>
  </div>
{% endblock %}
