{% extends '_layout.html' %}

{% block content %}
<h2>Groups</h2>

{% if auth.isAdmin %}
<a href="/dream-league/group/create">Create group</a>
{% endif %}

{%if groups.length %}
<table class="table table-hover table-sm small">
  <tr>
    <th>Cup</th>
    <th>Group</th>
    <th>Managers</th>
    <th></th>
  </tr>
  {% for group in groups %}
  <tr>
    <td>{{ group.cup.name }}</td>
    <td>{{ group.name }}</td>
    <td>
      {% for manager in group.managers %}
      <p>{{ manager.name }}</p>
      {% endfor %}
    </td>
    <td>{{ group.homeManagerName }}</td>
    <td>
      {% if auth.isAdmin %}
      <a href="/dream-league/group/edit?groupId={{ group.groupId }}">Edit</a> | <a
        href="/dream-league/group/delete?groupId={{ group.groupId }}">Delete</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<div class="alert alert-info">
  No groups created.
</div>
{% endif %}
{% endblock %}
