{% extends '_layout.html' %}

{% block content %}
  <h2>Current teams</h2>

  <p>Upload new teamsheet</p>

  <form method="POST" action="/teamsheet/refresh" enctype="multipart/form-data">
    <input type="hidden" name="crumb" value="{{crumb}}"/>
    <div class="form-group">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="file-control" name="teamFile">
        <label class="custom-file-label" for="teamFile">Choose file</label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <p>{{ message }}</p>

  {% for team in teamsheet %}
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{team.name}}</h5>   
          <div class="row">
            <div class="col-md-1">Pos</div>
            <div class="col-md-5">Player</div>
            <div class="col-md-1">Sub</div>
            <div class="col-md-4">Source</div>
            <div class="col-md-1">Dist</div>
          </div>           
          {% for player in team.keepers %}
            <div class="row">
              <div class="col-md-1">GK</div>
              <div class="col-md-5">
                <input type="text" class="form-control" onClick = "this.select()" value="{{ player.name }}" >
              </div>
              <div class="col-md-1">
                <input type="checkbox" {% if player.substitute %}checked{% endif %}>
              </div>
              <div class="col-md-4">{{ player.sourceName }}</div>
              <div class="col-md-1">{{ player.matchDistance }}</div>
            </div>
          {% endfor %}
          {% for player in team.players %}
            <div class="row">
              <div class="col-md-1">{{ player.position[0] }}</div>
              <div class="col-md-5">
                <input type="text" class="form-control" onClick = "this.select()" value="{{ player.lastNameFirstName }} - {{ player.team }}" >
              </div>
              <div class="col-md-1">
                <input type="checkbox" {% if player.substitute %}checked{% endif %}>
              </div>
              <div class="col-md-4">{{ player.sourceName }}</div>
              <div class="col-md-1">{{ player.matchDistance }}</div>
            </div>
          {% endfor %}          
        </div>
      </div>
    </div>
  {% endfor %}
  
{% endblock %}

{% block bodyEnd %}
  <script src="{{ assetPath }}/file-input.js"></script>
{% endblock %}

