{% extends '_layout.html' %}

{% block content %}
  <h2>Teamsheet</h2>

  {%if teamsheet.length %}
    <div class="row">
      {% for team in teamsheet %}
        <div class="col-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{team.name}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">Goalkeepers</h6>
              <ul class="list-group list-group-flush">
                {% for player in team.keepers %}
                  <li class="list-group-item">{{ player.name}}</li>
                {% endfor %}
              </ul>
              <h6 class="card-subtitle mb-2 text-muted">Defenders</h6>
              <ul class="list-group list-group-flush">
                {% for player in team.defenders %}
                  <li class="list-group-item">{{ player.fullName}}</li>
                {% endfor %}
              </ul>
              <h6 class="card-subtitle mb-2 text-muted">Midfielders</h6>
              <ul class="list-group list-group-flush">
                {% for player in team.midfielders %}
                  <li class="list-group-item">{{ player.fullName}}</li>
                {% endfor %}
              </ul>
              <h6 class="card-subtitle mb-2 text-muted">Forwards</h6>
              <ul class="list-group list-group-flush">
                {% for player in team.forwards %}
                  <li class="list-group-item">{{ player.fullName}}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
       {% endfor %}
      </div>
  {% else %}
    <div class="alert alert-info">
      No teams available.
    </div>
  {% endif %}
  
{% endblock %}

